<header class="h-20 pt-5" [style.background-color]="getHeaderColor()">
  <div class="px-10 flex space-x-4 items-center">
    <button mat-button (click)="drawer.toggle()">
      <mat-icon aria-hidden="false" aria-label="menu icon button"
        >menu</mat-icon
      >
    </button>
    <div class="grow">
      <button
        mat-button
        [matMenuTriggerFor]="apiUrlMenu"
        #apiUrlMenuTrigger="matMenuTrigger"
      >
        <span class="text-4xl">{{ headerTitle }}</span>
        <mat-icon *ngIf="!apiUrlMenuTrigger.menuOpen">expand_more</mat-icon>
        <mat-icon *ngIf="apiUrlMenuTrigger.menuOpen">expand_less</mat-icon>
      </button>
      <mat-menu #apiUrlMenu="matMenu">
        <div class="w-48">
          <div *ngFor="let link of headerAppUrls">
            <button mat-menu-item (click)="navigateToApp(link.url)">
              <span>{{ link.name }}</span>
            </button>
          </div>
        </div>
      </mat-menu>
    </div>

    <div>
      <button (click)="copyToClipboard()" title="copy access token" mat-button>
        <mat-icon>key</mat-icon>
      </button>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        #profileMenuTrigger="matMenuTrigger"
      >
        <mat-icon>person</mat-icon>
        <mat-icon *ngIf="!profileMenuTrigger.menuOpen">expand_more</mat-icon>
        <mat-icon *ngIf="profileMenuTrigger.menuOpen">expand_less</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="w-48">
          <div class="p-3">
            {{ userName }}
          </div>
          <hr />
          <button
            mat-menu-item
            [routerLink]="'profile'"
            routerLinkActive="active"
          >
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </div>
</header>
